{% extends 'base.html' %}
{%block title%}
Movement Register
{% endblock %}
{%block content%}
<h1>Login Page</h1>
<br/><br/>
<div class="form-group">
<form method="POST">
	{% csrf_token %}
	 <div class="mb-3">
    <input type="text" class="form-control" name="username" placeholder="Designation">
	  <br/>
  <div class="mb-3">
    <input type="password" class="form-control"  name="password" placeholder="Password">
  </div>
  <br/>
	<button class="btn btn-secondary">Login</button>
	Not a existing user, in Please Register <a href="{% url 'register' %}">here!</a>
	<br/>Install our app in <a href="{% url 'install' %}">here!</a>

</form>
</div>
{% endblock %}