{% extends 'base.html' %}
{%block title%}
Movement Register
{% endblock %}
{%block content%}
{% load group_find %}
{% if user|is_group:"Crew" or user|is_group:"Officer" %}
	<h1>Movement Register</h1>
	<ul>
	{% for post in object_list %}
		<li><a href="{% url 'mov_details' post.pk %}">{{post.Party}} - {{post.ACofParty}}<br/>
		{{post.PartyRef}}-{{post.VehicleNo}}-{{post.ContainerNo}}-{{post.Status}}</a>-<a href="{% url 'update_mov' post.pk %}">(Edit)</a>
		-<a href="{% url 'delete_mov' post.pk %}">(Delete)</a></li>
	{% endfor %}
	</ul>
{% elif user.is_authenticated %}
	You are in the Home Page of the Website, Please contact the admin to assign you the designation.
{% else %}
	Please login and try again
{% endif %}
{% endblock %}