{% load static %}
<!DOCTYPE html>
<html>
    {%load pwa %}
	{% progressive_web_app_meta %}
	<link rel ="manifest" href ="manifest.json">
	  <head>
    <!-- Required meta tags -->
    <!-- Enables 'Add to Homescreen' for Android -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<!-- <link href="https://drive.google.com/uc?id=1fRC2lzXT0bOreqBqmk2YMw0WtAuuj7Y6" rel="shortcut icon" type="image/png" sizes="192x192"/>  -->
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>   
	Install App
   </title>
  </head>
  <body>
<h3>To Install the Desktop Web Application:</h3>
<img src= "https://drive.google.com/uc?id=17vJAz0upnDvVGdlGw5LFweOoeTx9OuAc" width="400" height="500"/>
<li>Click the download button highlighted in the above photo.</li>
<li>Check if the popup is displayed.</li>
<li>Click the Install button.</li>
<h3>To Install the Mobile Web Application:</h3>
<img src="https://drive.google.com/uc?id=19lgyzP4kwMf9TPYPV3FeHMk3JWMi_U-E" width="600" height="500"/>
<li>Press the Add to Homescreen Button marked in the above photo.</li>
<li>Click the Add button.</li>
  </body>
  </html>